<%- partial('../partials/nav') %>
<div class="wrap sidebar-icons">
    <%- partial('../partials/header') %>
	<div class="content container"  ng-controller="StationController">
		<div class="row">
		    <div class="col-md-12">
		        <h2 class="page-title">Station: <%= station %><small> - {{stationData.route+" "+stationData.station_location}}</small>
			        <div class="btn-group pull-right" data-toggle="buttons">
                        <label id="radio_wim" class="btn btn-success" ng-click="stationChangeWim()">
                            <input type="radio"> Wim
                        </label>
           
                        <label id="radio_class" class="btn btn-success" ng-click="stationChangeClass()">
                            <input type="radio"> Class
                        </label>
                    </div>
            	</h2>
		    </div>
		</div>
	    <div class="row">

	    	<div class="col-md-12">
		    <section class="widget widget-tabs col-md-12">
	            <header>
	                <ul class="nav nav-tabs">
	                    <li>
	                        <a href="#info" data-toggle="tab">Info</a>
	                    </li>
	                    <li class="active">
	                        <a href="#graphs" data-toggle="tab">Truck Volume Graphs</a>
	                    </li>
	                    <li>
	                        <a href="#calendar" data-toggle="tab">Seasonality</a>
	                    </li>
	                    <li>
	                        <a href="#enforcement" data-toggle="tab" ng-hide='stationType=="class"'>Overweight Enforcement</a>
	                    </li>
	                    <li>
	                        <a href="#tonnage" data-toggle="tab"  ng-hide='stationType=="class"'>Freight Volume</a>
	                    </li>
	                    <li>
	                        <a href="#map" data-toggle="tab">Map</a>
	                    </li>
	                     <li>
	                        <a href="#reports" data-toggle="tab">Reports</a>
	                    </li>
	                   
	                </ul>
	            </header>
		    	
		    	<div class="body tab-content" style="overflow:hidden;">
		    		<!--
               			Info Table
               		-->
		    		<div id="info" class="tab-pane clearfix">
                   		<div  id="infoTable"></div>
               		</div>
               		<!--
               			Raw Graph
               		-->
               		<div id="graphs" class="tab-pane clearfix active">
                   		<div class="col-md-12" id="wimgraph"></div>
                   		<div class="col-md-12" id="wimgraphTable"></div>

               		</div>

               		<!--
               			Seasonality
               		-->
               		<div id="calendar" class="tab-pane clearfix">
               			<label>Direction:
			              <select  class="form-control" ng-model="myDir2" ng-options="item5.id as item5.label for item5 in directionValues2" style='width:75px;display:inline;margin-right:5px;'></select>
			            </label>
			            <button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="reloadSeasonalGraph()">Apply</button>
			            <div ng-show="!(loading2)" id="seasonalLegend" class="col-md-14"></div>
			            <div id="seasonalLineGraph" class="col-md-6">
                   		</div>
                   		<div id="seasonalBarGraph" class="col-md-6">
                   		</div>
                   		<div id="seasonalTable" class="col-md-12"></div>
                   		
                   		<div id='calendar-controls' style='margin-left:10px;'>
                   			<label>Class:
			              		<select  class="form-control" ng-model="myClass" ng-options="item.id as item.label for item in values" style='width:75px;display:inline;margin-right:5px;'></select>
			              	</label>
		              		<span ng-hide="stationType=='class'">
				              	<label>Data:
				             	 	<select  class="form-control" ng-model="myDataDisp" ng-options="item3.id as item3.label for item3 in values3" style='width:75px;display:inline;margin-right:5px;'></select>
				              	</label>
		          	  		</span>
				            <span ng-hide="myDataDisp=='Class'">
				              	<label>Display:
				              		<select  class="form-control" ng-model="myDisp" ng-options="item2.id as item2.label for item2 in values2" style='width:75px;display:inline;margin-right:5px;'></select>
				              	</label>
				            </span>
		              	<button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="loadCalendar()">Apply</button>
		            	</div>
			    		<div id="caldiv" class="ratings">
			                <div id="legend"></div>
			                <div class="body" ng-show="(loading2)">
				      			<p>Loading</p>
				      			<img src="/img/loading.gif">
			      			</div>
			            </div>

               		</div>

               		<!--
               			Enforcemernt
               		-->
               		<div id="enforcement" class="tab-pane clearfix">
                   		<label>Bar Table Type:
			              <select  class="form-control" ng-model="myTableDisp" ng-options="item4.id as item4.label for item4 in values4" style='width:75px;display:inline;margin-right:5px;'></select>
			              </label>
			            <label>Direction:
			              <select  class="form-control" ng-model="myDir" ng-options="item5.id as item5.label for item5 in directionValues" style='width:75px;display:inline;margin-right:5px;'></select>
			            </label>
			            <button ng-show="!(loading)" class='btn btn-info' type="button" ng-click="reloadTable()">Apply</button>
		           
			            <div id="stationTable">
			            </div>
			            <div class="body" ng-show="(loading)">
				      		<p>Loading</p>
				      		<img src="/img/loading.gif">
			      		</div>
               		</div>
               		<!--
						Cargo Tonnage
					-->
               		<div id="tonnage" class="tab-pane clearfix">
                   		<div id="caldivton" class="ratings">
			                <div id="legendton"></div>
			                <div class="body" ng-show="(loading2)">
					      		<p>Loading</p>
					      		<img src="/img/loading.gif">
				      		</div>
			            </div>
               		</div>
               		<!--
						Map Tab
					-->
               		<div id="map" class="tab-pane clearfix">

               			<div id="displayMap"> <!-- The map is built in the stationInfo page -->
               			</div>
               		</div>
               		<!--
						Reports Tab
					-->
               		<div id="reports" class="tab-pane clearfix">
               			<label>Type of Report:
               				<select  class="form-control" ng-model="myReport" ng-options="item7.id as item7.label for item7 in values5" style='width:75px;display:inline;margin-right:5px;'></select>
               			</label>
               			<label>Year of Data:
			              <select  class="form-control" ng-model="myYear" ng-options="item6 for item6 in yearRange" style='width:75px;display:inline;margin-right:5px;'></select>
			            </label>
			            <button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="reloadReportTableBack()">Back</button>
			            <button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="reloadReportTable()">Reload</button>
			            <button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="reloadReportTableForward()">Forward</button>
               			<div id="reportTab" ng-show="!(loading3)">
               			</div>
               			<div class="body" ng-show="(loading3)">
					      		<p>Loading</p>
					      		<img src="/img/loading.gif">
				      	</div>
               			
               		</div>

               		
		    		
		      	</div>
		    </section>
			  
			</div>
		  	
		  </div><!-- end of row-->
		
	</div>
 	<div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<script>
	station="<%=station%>";
	stationType="<%=stationType%>";
	
</script>
<script type="text/javascript" src="/lib/colorbrewer.js"></script>
<script src="/trafficanalytics/wimgraph.js"></script>
<script src="/trafficanalytics/stationInfo.js"></script>
<script src="/trafficanalytics/wimCalendar.js"></script>
<script src="/trafficanalytics/weightTable.js"></script>
<script src="/trafficanalytics/reportTable.js"></script>
<script src="/trafficanalytics/seasonalLineChart.js"></script>
<script src="/trafficanalytics/seasonalBarGraph.js"></script>
<script src="/controllers/station/stationIndex.js"></script>
<script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
<script src="/lib/leaflet.js"></script>



<link rel="stylesheet" href="/lib/leaflet.css">
