<link rel="stylesheet" href="/lib/leaflet.css">
<style>

	/*When tried adding below CSS to svg, didn't seem to want to work*/

	.dashBoardLabel {
            font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
            text-anchor: middle;
        }

</style>
<%- partial('../partials/nav') %>
<div class="wrap sidebar-icons">
    <%- partial('../partials/header') %>
	<div class="content container"  ng-controller="StationController">
		<div class="row">
		    <div class="col-md-12">
		        <h2 class="page-title">Station: <%= station %><small> - {{stationData.route+" "+stationData.station_location}}</small>
			        <div class="btn-group pull-right" data-toggle="buttons">
                        <label id="radio_wim" class="btn btn-success" ng-click="stationChangeWim()">
                            <input type="radio"> Wim
                        </label>
           
                        <label id="radio_class" class="btn btn-success" ng-click="stationChangeClass()">
                            <input type="radio"> Class
                        </label>
                    </div>
            	</h2>
		    </div>
		</div>
	    <div class="row">

	    	<div class="col-md-10">
		    <section class="widget widget-tabs">
	            <header>
	                <ul class="nav nav-tabs">
	                	<li>
	                        <a href="#dashboard" data-toggle="tab">Dashboard</a>
	                    </li>
	                    <li>
	                        <a href="#info" data-toggle="tab">Info</a>
	                    </li>
	                    <li class="active">
	                        <a href="#graphs" data-toggle="tab">Volume Graphs</a>
	                    </li>
	                    <li>
	                        <a href="#graphs2" data-toggle="tab" ng-hide='stationType=="class"'>Load Spectra</a>
	                    </li>
	                    <li>
	                        <a href="#calendar" data-toggle="tab">Seasonality</a>
	                    </li>
	                    <li>
	                        <a href="#enforcement" data-toggle="tab" ng-hide='stationType=="class"'>Overweight Enforcement</a>
	                    </li>
	                    <li>
	                        <a href="#tonnage" data-toggle="tab"  ng-hide='stationType=="class"'>Freight Volume</a>
	                    </li>
	                    <li>
	                        <a href="#map" data-toggle="tab" ng-click="resetMap()">Map</a>
	                    </li>
	                     <li>
	                        <a href="#reports" data-toggle="tab">Reports</a>
	                    </li>
	                   
	                </ul>
	            </header>
		    	
		    	<div class="body tab-content" style="overflow:hidden;">
		    		<!--
						Dashboard
		    		-->
		    		<div id="dashboard" class="tab-pane clearfix">
		    			<div ng-show="(loading4)">
				      			<p>Loading</p>
				      			<img src="/img/loading.gif">
			      		</div>
		    			<div ng-show="!(loading4)">
		    				<label style="margin-right:">Vehicle Group:
							    <select class="form-control" ng-model="myClassOrg" ng-options="item.id as item.label for item in graphs"></select>
							</label>
							<label>Month:
								<select class="form-control" ng-model="myMonth" ng-options="item.id as item.label for item in monthList"></select>
							</label>
		    				<label>Year:
			              		<select  class="form-control" ng-model="dashYear1" ng-options="item6 for item6 in yearRange" style='width:75px;display:inline;margin-right:5px;'></select>
			              	</label>
			              	
			              	<button class='btn btn-info' type="button" ng-click="dashboardChange()">Apply</button>
			            </div>
                   	<!-- 	<div id="dashboardTable" class="col-md-6">
                   			
                   		</div> -->
                   		<table id="dashboardTable" >
	               			
						</table>
						
               		</div>
               		<!--
               			Info Table
               		-->
		    		<div id="info" class="tab-pane clearfix">
                   		<div  id="infoTable"></div>
               		</div>
               		<!--
               			Raw Graph
               		-->
               		<div id="graphs" class="tab-pane clearfix active">
                   		<div class="col-md-12" id="wimgraph"></div>
                   		<div class="col-md-12" id="wimgraphTable"></div>

               		</div>
               		<!--
               			Load Spectra Graph
               		-->
               		<div id="graphs2" class="tab-pane clearfix">
                   		<div class="col-md-12" id="wimSpectra"></div>
                   		

               		</div>

               		<!--
               			Seasonality
               		-->
               		<div id="calendar" class="tab-pane clearfix">
               			<label>Direction:
			              <select  class="form-control" ng-model="myDir2" ng-options="item5.id as item5.label for item5 in directionValues2" style='width:75px;display:inline;margin-right:5px;'></select>
			            </label>
			            <button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="reloadSeasonalGraph()">Apply</button>
			            <div ng-show="!(loading2)" id="seasonalLegend" class="col-md-14"></div>
			            <div id="seasonalLineGraph" class="col-md-6">
                   		</div>
                   		<div id="seasonalBarGraph" class="col-md-6">
                   		</div>
                   		<div id="seasonalTable" class="col-md-12"></div>
                   		
                   		<div id='calendar-controls' style='margin-left:10px;'>
                   			<label>Class:
			              		<select  class="form-control" ng-model="myClass" ng-options="item.id as item.label for item in values" style='width:75px;display:inline;margin-right:5px;'></select>
			              	</label>
		              		<span ng-hide="stationType=='class'">
				              	<label>Data:
				             	 	<select  class="form-control" ng-model="myDataDisp" ng-options="item3.id as item3.label for item3 in values3" style='width:75px;display:inline;margin-right:5px;'></select>
				              	</label>
		          	  		</span>
				            <span ng-hide="myDataDisp=='Class'">
				              	<label>Display:
				              		<select  class="form-control" ng-model="myDisp" ng-options="item2.id as item2.label for item2 in values2" style='width:75px;display:inline;margin-right:5px;'></select>
				              	</label>
				            </span>
		              	<button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="loadCalendar()">Apply</button>
		            	</div>
			    		<div id="caldiv" class="ratings">
			                <div id="legend"></div>
			                <div class="body" ng-show="(loading2)">
				      			<p>Loading</p>
				      			<img src="/img/loading.gif">
			      			</div>
			            </div>

               		</div>

               		<!--
               			Enforcemernt
               		-->
               		<div id="enforcement" class="tab-pane clearfix">
                   		<label>Bar Table Type:
			              <select  class="form-control" ng-model="myTableDisp" ng-options="item4.id as item4.label for item4 in values4" style='width:75px;display:inline;margin-right:5px;'></select>
			              </label>
			            <label>Direction:
			              <select  class="form-control" ng-model="myDir" ng-options="item5.id as item5.label for item5 in directionValues" style='width:75px;display:inline;margin-right:5px;'></select>
			            </label>
			            <button ng-show="!(loading)" class='btn btn-info' type="button" ng-click="reloadTable()">Apply</button>
		           
			            <div id="stationTable">
			            </div>
			            <div class="body" ng-show="(loading)">
				      		<p>Loading</p>
				      		<img src="/img/loading.gif">
			      		</div>
               		</div>
               		<!--
						Cargo Tonnage
					-->
               		<div id="tonnage" class="tab-pane clearfix">
                   		<div id="caldivton" class="ratings">
			                <div id="legendton"></div>
			                <div class="body" ng-show="(loading2)">
					      		<p>Loading</p>
					      		<img src="/img/loading.gif">
				      		</div>
			            </div>
               		</div>
               		<!--
						Map Tab
					-->
               		<div id="map" class="tab-pane clearfix">

               			<div id="displayMap"> <!-- The map is built in the stationInfo page -->
               			</div>
               		</div>
               		<!--
						Reports Tab
					-->
               		<div id="reports" class="tab-pane clearfix">
               			<label>Type of Report:
               				<select  class="form-control" ng-model="myReport" ng-options="item7.id as item7.label for item7 in values5" style='width:75px;display:inline;margin-right:5px;'></select>
               			</label>
               			<label>Year of Data:
			              <select  class="form-control" ng-model="myYear" ng-options="item6 for item6 in yearRange" style='width:75px;display:inline;margin-right:5px;'></select>
			            </label>
			            <button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="reloadReportTableBack()">Back</button>
			            <button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="reloadReportTable()">Reload</button>
			            <button ng-show="!(loading2)" class='btn btn-info' type="button" ng-click="reloadReportTableForward()">Forward</button>
               			<div id="reportTab" ng-show="!(loading3)">
               			</div>
               			<div class="body" ng-show="(loading3)">
					      		<p>Loading</p>
					      		<img src="/img/loading.gif">
				      	</div>
               			
               		</div>

               		
		    		
		      	</div>
		    </section>
		    </div>
		    <div class="col-md-2">
			<section class="widget ui-sortable">
				<fieldset>
                    <!-- <legend class="section">Dropdown based colored selects</legend> -->
                    <div class="control-group">
                        <label class="control-label" for="simple-big"><strong>Year</strong></label>
                        <div class="controls form-group">
                            <div class="btn-group bootstrap-select col-md-12">
                            	<button class="btn dropdown-toggle clearfix btn-primary btn-lg btn-block" data-toggle="dropdown" id="simple-big" tabindex="-1"><span class="filter-option">All</span>&nbsp;<i class="fa fa-caret-down"></i></button>
                            	<ul class="dropdown-menu" role="menu" style="overflow-y: auto; min-height: 60px; max-height: 123px;">
                            		<li rel="0"><a tabindex="-1" href="#" class="">2013</a></li>
                            		<li rel="1"><a tabindex="-1" href="#" class="">2012</a></li>
                            		<li rel="2"><a tabindex="-1" href="#" class="">2011</a></li>
                            	</ul>
                            </div>               
                        </div>
                        <label class="control-label" for="simple-big"><strong>Direction</strong></label>
                        <div class="controls form-group">
                            <div class="btn-group bootstrap-select col-md-12">
                            	<button class="btn dropdown-toggle clearfix btn-primary btn-lg btn-block" data-toggle="dropdown" id="simple-big" tabindex="-1"><span class="filter-option">Combined</span>&nbsp;<i class="fa fa-caret-down"></i></button>
                            	<ul class="dropdown-menu" role="menu" style="overflow-y: auto; min-height: 60px; max-height: 123px;">
                            		<li rel="0"><a tabindex="-1" href="#" class="">Fourth Item</a></li>
                            		<li rel="1"><a tabindex="-1" href="#" class="">Fifth Item</a></li>
                            		<li rel="2"><a tabindex="-1" href="#" class="">Sixth item</a></li>
                            	</ul>
                            </div>               
                        </div>
                        <label class="control-label" for="simple-big"><strong>Class</strong></label>
                        <div class="controls form-group">
                            <div class="btn-group bootstrap-select col-md-12">
                            	<button class="btn dropdown-toggle clearfix btn-primary btn-lg btn-block" data-toggle="dropdown" id="simple-big" tabindex="-1"><span class="filter-option">All</span>&nbsp;<i class="fa fa-caret-down"></i></button>
                            	<ul class="dropdown-menu" role="menu" style="overflow-y: auto; min-height: 60px; max-height: 123px;">
                            		<li rel="0"><a tabindex="-1" href="#" class="">Class 1</a></li>
                            		<li rel="1"><a tabindex="-1" href="#" class="">Class 2</a></li>
                            		<li rel="2"><a tabindex="-1" href="#" class="">Class 3</a></li>
                            	</ul>
                            </div>               
                        </div>
                    </div>
                </fieldset>
		 	</section>
		 	</div>
		  </div><!-- end of row-->
		
	</div>
 	<div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<script>
	station="<%=station%>";
	stationType="<%=stationType%>";
	
</script>
<script src="/lib/d3.min.js"></script>
<script type="text/javascript" src="/lib/colorbrewer.js"></script>
<script src="/trafficanalytics/wimgraph.js"></script>
<script src="/trafficanalytics/stationInfo.js"></script>
<script src="/trafficanalytics/wimCalendar.js"></script>
<script src="/trafficanalytics/weightTable.js"></script>
<script src="/trafficanalytics/reportTable.js"></script>
<script src="/trafficanalytics/seasonalLineChart.js"></script>
<script src="/trafficanalytics/seasonalBarGraph.js"></script>
<script src="/trafficanalytics/radialProgress.js"></script>
<script src="/trafficanalytics/dashboard.js"></script>
<script src="/controllers/station/stationIndex.js"></script>
<script src="http://d3js.org/d3.geo.tile.v0.min.js"></script>
<script src="/lib/leaflet.js"></script>
