<%- partial('../partials/nav') %>
<div class="wrap sidebar-icons">
    <%- partial('../partials/header') %>
	<div class="content container">
	    <div class="row" ng-controller="StationController">
		  <div class="col-md-8">
		    <section class="widget">
		    	<header>
		    		<fieldset>
            			<legend>Station: <%= station %></legend>
        			</fieldset>
		    	</header>
		    	<div class="body">
		    		<div id="wimgraph"></div>
		      	</div>
		    </section>
		    <section class="widget">
		    	<header>
		    		<fieldset>
            			<legend>Calendar View</legend>
        			</fieldset>
		    	</header>
		    	<div class="body">
		    		<div id='calendar-controls' style='margin-left:10px;'>
		              <label>Class:
		              <select  class="form-control" ng-model="myClass" ng-options="item.id as item.label for item in values" style='width:75px;display:inline;margin-right:5px;'></select>
		              </label>
		              <label>Data:
		              <select  class="form-control2" ng-model="myDataDisp" ng-options="item3.id as item3.label for item3 in values3" style='width:75px;display:inline;margin-right:5px;'></select>
		              </label>
		              <span ng-hide="myDataDisp=='Class'">
		              <label>Display:
		              <select  class="form-control2" ng-model="myDisp" ng-options="item2.id as item2.label for item2 in values2" style='width:75px;display:inline;margin-right:5px;'></select>
		              </label>
		              </span>
		                <button class='btn btn-info' type="button" ng-click="loadCalendar()">Apply</button>
		            </div>
		    		<div id="caldiv" class="ratings">
		                <div id="legend"></div>
		            </div>
		      	</div>
		    </section>
		  </div>
		  <div class="col-md-4">
		  	<section class="widget">
		      <div class="body">
		       <div id="infoTable"></div>
		      </div>
		    </section>
		  </div>
		</div>
	</div>
 	<div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<script>
	station="<%=station%>";
	stationType="<%=stationType%>";
</script>
<script src="/trafficanalytics/wimXHR.js"></script>
<script src="/trafficanalytics/wimgraph.js"></script>
<script src="/trafficanalytics/stationInfo.js"></script>
<script src="/trafficanalytics/wimCalendar.js"></script>
<script type="text/javascript" src="/lib/colorbrewer.js"></script>
<script src="/pages/station.js"></script>