<%- partial('../partials/nav') %>
<div class="wrap sidebar-icons">
    <%- partial('../partials/header') %>
	<div class="content container">  
	  <div class="row" ng-controller='UserAgencyController'>
		  <div class="col-md-8">
		    <section class="widget">
		    	<header>
		    		<fieldset>
	            	<legend>Agency Administrator<small> Add &amp; Edit Users</small></legend>
	        		</fieldset>
		    		<div class="widget-controls">
		              <a data-widgster="expand" title="" href="#" style="display: none;" data-original-title="Expand"><i class="glyphicon glyphicon-plus"></i></a>
		              <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>          
            		</div>
		    	</header>
			    <div class="body">
			     	<table class='table'>
							<tr>
								<th></th>
								<th>Name</th>
								<th>Data Source</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							
							<tr ng-repeat="agency in agencys" data-model="agency" >
								<td></td>
								<td>{{ agency.name }}</td>
								<td>{{ agency.datasource }}</td>
								<td></td>
								<td><a ng-click="setEditable(agency)" class="btn btn-sm btn-warning">Edit</a></td>

								<td><a ng-click="DeleteAgency(agency)" class="btn btn-sm btn-danger"/>Delete</a></td>
							</tr> 

							
						</table>
			    </div>
		    </section>
		  </div>
		  <div class="col-md-4">
		  	<section class="widget">
		  		<header>
		    		<fieldset>
	            	<legend>Create an Account</legend>
	        		</fieldset>
		    		<div class="widget-controls">
		              <a data-widgster="expand" title="" href="#" style="display: none;" data-original-title="Expand"><i class="glyphicon glyphicon-plus"></i></a>
		              <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>          
            		</div>
		    	</header>
		    	<div class="body">
	        				
							<% if(flash && flash.err) { %>
								<ul class="alert alert-success">
							<% Object.keys(flash.err).forEach(function(error) { %>
								<li><%- JSON.stringify(flash.err[error]) %></li>
							<% }) %>
							</ul>
							<% } %>


							<div class="control-group">
							<input type="text" class="form-control" placeholder="name" ng-model="newAgency.name">
							</div>

							<div class="control-group">
							<input type="text" class="form-control" placeholder="datasource" ng-model="newAgency.datasource">
							</div>

							<button ng-click="createAccount()" class="btn btn-lg btn-primary btn-block" >Create Account</button>
							<!-- <input type="hidden" ng-model="newUser._csrf" value="<%= _csrf %>" /> -->
						</form>
		    	</div>
		 		</section>
		  </div>

		  <!-- Below is where edit section will show up-->

		  <div class="col-md-4" ng-show="(clicked)">
		  	<section class="widget">
		  		<header>
		    		<fieldset>
	            	<legend>Update Account</legend>
	        		</fieldset>
		    		<div class="widget-controls">
		              <a data-widgster="expand" title="" href="#" style="display: none;" data-original-title="Expand"><i class="glyphicon glyphicon-plus"></i></a>
		              <a data-widgster="restore" title="" href="#" style="display: none;" data-original-title="Restore"><i class="glyphicon glyphicon-resize-small"></i></a>          
            		</div>
		    	</header>
		    	<div class="body">
	        				
							<% if(flash && flash.err) { %>
								<ul class="alert alert-success">
							<% Object.keys(flash.err).forEach(function(error) { %>
								<li><%- JSON.stringify(flash.err[error]) %></li>
							<% }) %>
							</ul>
							<% } %>


							<div class="control-group">
							<input id="editableName" type="text" class="form-control" placeholder="your name" ng-model="newUser.name">
							</div>

							<div class="control-group">
							<input id="editableUserName" type="text" class="form-control" placeholder="username" ng-model="newUser.username">
							</div>

							<div class="control-group">
							<input id="editableEmail" type="text" class="form-control" placeholder="email address" ng-model="newUser.email">
							</div>

							<button ng-click="updateAccount()" class="btn btn-lg btn-primary btn-block" >Update Account</button>
							<!-- <input type="hidden" ng-model="newUser._csrf" value="<%= _csrf %>" /> -->
						</form>
		    	</div>
		 		</section>
		  </div>
		</div>
	</div>
 	<div class="loader-wrap hiding hide">
 		<i class="fa fa-spinner fa-spin"></i>
  </div>
</div>
<script src="/js/dependencies/sails.io.js"> </script>
<script type="text/javascript">agencys = JSON.parse("<%= JSON.stringify(agencys) %>".replace(/\&quot\;/g, "\"")); </script>
<script src='/controllers/user/agencyController.js'></script>